@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Grape+Nuts');

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Grape Nuts', sans-serif;
}

.navbar-bg {
    --bs-bg-opacity: 0;
}

.main-container {
    height: calc(100vh - 56px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snow {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}

.skincare-container {
    height: calc(100vh - 56px);
    width: 100vw;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around; */
    /* padding: 24px; */
}

.skincare-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 100vw; */
    width: calc(100vw - 64px);
    /* padding: 20px; */
    padding-top: 16px;
}

.step {
    padding: 32px;
    white-space: pre-line;
}