@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Grape+Nuts');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:wght@200&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Grape Nuts', sans-serif;
}

.navbar-bg {
    --bs-bg-opacity: 0;
}

.main-container {
    height: calc(100vh - 56px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snow {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}

.skincare-container {
    height: calc(100vh - 56px);
    width: 100vw;
}

.skincare-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100vw - 64px);
    padding-top: 16px;
}

.skincare-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step {
    padding: 32px;
    white-space: pre-line;
}

.title {
    padding-bottom: 16px;
}

.step-body {
    font-family: 'Nunito Sans', sans-serif;
}

.step-col {
    height: 100%;
}

.step-rec {
    margin-top: 12px;
    margin-bottom: 12px;
}

.step-bottom-row {
    padding-top: 36px;
}

.placeholder {
    visibility: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    padding: 64px;
    width: 100%;
}

.centerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}